/* ==========================================================================
Responsive breakpoints
========================================================================== */
$bp-largest: 75em; // 1200px / 16px
$bp-large: 62.5em; // 1000px / 16px
$bp-medium: 47em; // 752px / 16px
$bp-small: 37.5em; // 600px / 16px
